<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jiangshi.psd_Psd.Dir/袖子 上.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/耳朵.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/头发.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>477</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>477</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/身体.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>523</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/shetou .png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>619</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/鞋  前.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/脸.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/鞋 后.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/袖子 下.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangshi.psd_Psd.Dir/头发  后.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>NewAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>NewAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>